[Unit]
Description=Check yczx music vote repository for remote updates
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/srv/yczx_musicvote/scripts/sync-remote.sh
